; vim: set filetype=git_config :
[core]
editor = nvim
excludesfile = $HOME/.gitignore
pager = delta

[interactive]
difffilter = delta --color-only

[delta]
navigate = true


[merge]
conflictstyle = diff3

[diff]
colorMoved = default

[user]
name = Yushi
email = yushi_61@proton.me
signingkey = 692531C3637A709D

[help]
autocorrect = 1

[tig]
tab-size = 4
line-graphics = utf-8
main-view = line-number:no,interval=5 id:yes date:default author:full commit-title:yes,graph,refs,overflow=no
diff-highlight = true
mouse = true

[url "git@codeberg.org:"]
insteadOf = https://codeberg.org/

[remote "codeberg"]
pushurl = git@codeberg.org:Yushi_61/
pushurl = git@github.com:Yushi5058/

[init]
defaultBranch = main

[pull]
rebase = true

[credential]
helper = cache --timeout=3600

[commit]
gpgsign = true
