/*
Scheme : Expressoft
Author : Yushi5058
*/
* {
    lightfg:                       #aa998b;
    lightbg:                       #8f7c6d;
    foreground:                    #cabeb3;
    border-color:                @lightbg;
    selected-normal-foreground:  @foreground;
    selected-normal-background:  @lightbg;
    selected-active-foreground:  @lightbg;
    selected-active-background:  @foreground;
    normal-foreground:           @foreground;
    normal-background:           @lightbg;
}
