# Ignore common junk
.stow-local-ignore
*.bak
*.sqlite
*.lz4
# Ignore all sub-folders inside .librewolf (the heavy profile data)
librewolf/.librewolf/*/
librewolf/.librewolf/Profile Groups/

# Ignore the .ini files 
librewolf/.librewolf/*.ini

# Ignore tmux plugins
tmux/.config/tmux/plugins/
