[Desktop Entry]
Type=Application
Name=Gallery
Exec=waydroid app launch com.android.gallery3d
Icon=/home/yushi61/.local/share/waydroid/data/icons/com.android.gallery3d.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;
NoDisplay=true

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.android.gallery3d
Icon=/home/yushi61/.local/share/waydroid/data/icons/com.android.settings.png
